#dev-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 80px 0px 0px 60px;
  position: absolute;
  z-index: 1000000000000;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: rgba(0, 0, 0, 0.8);
}
#dev-menu.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#dev-menu h2 {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  color: white;
  font: 45px 'Bubblegum Sans', sans-serif;
  left: -120px;
  overflow: hidden;
  padding: 0;
  margin: -10px 0 0 120px;
  position: relative;
  right: 20px;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  top: -50px;
}
#dev-menu button {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 0px;
  padding: 15px 0;
}
#dev-menu button.cancel {
  position: absolute;
  top: 0;
  right: 64px;
  width: 92px;
  height: 92px;
  text-indent: 92px;
  background: url("../images/popup/close_button.png") no-repeat 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
}
#dev-menu button.cancel:active {
  background-position: -92px 0;
}
